Repository lgr010519/react-vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

feat: 添加了环境变量和接口请求封装
  .env.development
  .env.production
  .env.staging
  README.md
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/api/axios.js
  src/api/index.js
Due: prettier --write, eslint --fix

feat: 添加了antd使用和主题变量配置
  README.md
  jsconfig.json
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/assets/styles/index.scss
  src/assets/styles/variables.scss.js
  src/main.jsx
  vite.config.js
Due: prettier --write, eslint --fix, stylelint --fix

feat: 添加了路由
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
  src/assets/styles/index.scss
  src/main.jsx
  src/router/index.jsx
  src/views/About/About.jsx
  src/views/About2/About.jsx
  src/views/Test/Test.jsx
  src/views/Test/Test.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: 修改环境变量引入语法
  README.md
Due: prettier --write

fix: 补全解释
  README.md
Due: prettier --write

feat: 更新结构，修改配置
  .eslintrc.cjs
  .prettierrc
  README.md
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/assets/styles/index.scss
  src/main.jsx
  src/plugins/antd.jsx
  src/plugins/dayjs.js
  src/views/Home.jsx
  src/views/Test/Test.jsx
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

feat: 添加了react-redux和调试配置
  .vscode/launch.json
  README.md
  package.json
  pnpm-lock.yaml
  src/main.jsx
  src/store/index.js
  src/store/slices/counterSlice.js
  src/views/Test/Test.jsx
  vite.config.js
Due: prettier --write, eslint --fix

feat: 更新了vite版本和plugin-react版本，添加了eslint
  .eslintrc.cjs
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: 优化lint配置
  .eslintrc.cjs
  .prettierrc
  .stylelintrc.cjs
  README.md
Due: prettier --write, eslint --fix

feat: 更新了模板项目
  .nvmrc
  .stylelintrc.cjs
  src/api/axios.js
Due: prettier --write, eslint --fix

feat: 升级了各类包
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/App.jsx
Due: prettier --write, eslint --fix

feat: 更新了模板项目
  .prettierrc
  README.md
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/api/axios.js
  src/components/PageSpin/index.jsx
  src/main.jsx
  src/router/index.jsx
  src/utils/index.js
Due: prettier --write, eslint --fix

feat: 更新相关依赖
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 新增eslint-import相关配置
  .eslintignore
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/router/index.jsx
Due: prettier --write, eslint --fix

feat: 添加登录接口
  .env.development
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/api/axios.js
  src/api/sso-axios.js
  src/main.jsx
  src/utils/aes.ts
  src/utils/index.js
  src/utils/index.ts
  src/utils/type.d.ts
  src/utils/utils.ts
  vite.config.js
Due: prettier --write, eslint --fix

去除ssoLogin
  src/main.jsx
Due: prettier --write, eslint --fix

delete: 删除ssoLogin
  src/router/index.jsx
  src/views/About/About.jsx
  src/views/About2/About.jsx
  src/views/Home.jsx
  src/views/Test/Test.jsx
  src/views/Test/Test.scss
  src/views/home/index.jsx
Due: prettier --write, eslint --fix, stylelint --fix

已删除src/utils/aes.ts, src/utils/index.ts, src/utils/type.d.ts, src/utils/utils.ts
  src/utils/aes.ts
  src/utils/index.ts
  src/utils/type.d.ts
  src/utils/utils.ts
Due: none

fix: 回滚至3452ee
  .eslintignore
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Revert "fix: 回滚至3452ee"
  .eslintignore
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor: update
  .env.development
  .env.production
  .env.staging
  .eslintignore
  .eslintrc.cjs
  .stylelintignore
  .stylelintrc.cjs
  README.md
  docs/README.md
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/api/index.js
  src/api/sso-axios.js
  src/apis/index.js
  src/assets/react.svg
  src/assets/styles/index.scss
  src/components/StaticAntdFunctions.jsx
  src/hooks/.gitkeep
  src/main.jsx
  src/plugins/antd.jsx
  src/router/index.jsx
  src/store/index.js
  src/utils/index.js
  src/views/home/index.jsx
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

fix: style reset
  src/assets/styles/index.scss
Due: prettier --write, stylelint --fix

conf: node version
  .nvmrc
Due: none

fix: tailwind theme
  tailwind.config.js
Due: prettier --write, eslint --fix

dep: update
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat:添加docker、jenkins、k8s配置文件
  Dockerfile
  Jenkinsfile
  k8s/release-values.yaml
  k8s/test-values.yaml
  package.json
  pnpm-lock.yaml
  project.yaml
Due: prettier --write

fix: style bug
  src/assets/styles/index.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{md,json}) or (any of: *.{js,jsx,cjs,mjs})) or (any of: *.{css,sass,scss,less})
  eslint --fix: any of: *.{js,jsx,cjs,mjs}
  stylelint --fix: any of: *.{css,sass,scss,less}
